:root{
--primary-text-color:#757575;
--title-color: #212121;
--accent-color: #2196F3;
--primary-accent-color: #FFFFFF;
--background-second-color: #2F303A;
--background-product-card:rgba(47, 48, 58, 0.8);
--gray-icon-color:#AFB1B8;
--border-header:#ECECEC;
--bgr-three: #F5F4FA;
--drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
--footer-adress-color: rgba(255, 255, 255, 0.6);
--footer-network-bgr:rgba(255, 255, 255, 0.1);
--footer-mail-list-bgr: rgba(255, 255, 255, 0.3);
--modal-color: rgba(117, 117, 117, 0.5);
--modal-border-color: rgba(33, 33, 33, 0.2);
--modal-close-border:rgba(0, 0, 0, 0.1); 
--modal-background: rgba(0, 0, 0, 0.2);
--portfolio-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16); 
--card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
--box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
--card-sat-gap: 30px;
--speed-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
    box-sizing: border-box;
}
body {
    background: var(--primary-accent-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 16px;
    line-height: 1.9;
}

header {
    background-color: var(--primary-accent-color);
    border-bottom: 1px solid var(--border-header);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,

p {
margin:0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {list-style: none;}

a {
    text-decoration: none;
    outline: none;
}
button {
    font-family: inherit;
    display: inline-block;
    border: 1px solid transparent;
    text-align: center;
    cursor: pointer;
    outline: none;
  
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 1200px;
}


/* Main Nav */

.header {
    display: flex;
    align-items: center;}

.webstudio {
    margin-top: 25px;
    margin-bottom: 25px;

    color:var(--accent-color) ;
    font-family: Raleway, sans-serif  ;
 
    font-size: 26px; 
    line-height: 1.19;
    text-decoration: none; 
}

.webstudio__logo {
    margin-top: 25px;
    margin-bottom: 25px;

    color: var(--title-color);
    font-family: Raleway, sans-serif;

    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;

/* Site Nav */
}
.site-nav {
    display: flex;
    margin-left: 93px;
}
.site-nav__item + .site-nav__item{
    margin-left: 50px;
}

.site-nav__link{   
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-color) ;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    transition: var(--speed-transition);
}
.site-nav__link--current{
    position: relative;
}

.site-nav__link--current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0px;
 
    background:var(--accent-color);
    border-radius: 2px;
}

.site-nav__link--current {
    color: var(--accent-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}

/* Contacts */
.site-nav__item {
    margin-left: 30px;
}

.site-nav__social{
    display: flex;
    align-items: center;
           
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    gap: 10px;
    line-height: 1.14;
    text-decoration: none;
    fill:var(--primary-text-color);
    transition: var(--speed-transition);}

 .site-nav__social:hover,
 .site-nav__social:focus {
    color: var(--accent-color);
    fill: var(--accent-color);}


/* First Sections */

.sections-hero{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../image/BG/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;}

.sections-hero__title {
    color: var(--primary-accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 40px;
    margin-top: 0;
    padding: 0;}

.sections-hero__button {
    align-items: center;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;

    background-color: var(--accent-color);
    color: var(--primary-accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    transition: var(--speed-transition);
}

.sections-hero__button:hover,
.sections-hero__button:focus {
    box-shadow: var(--box-shadow);
}
    
/*Second sections */

.sections {
    padding-top: 94px;
    padding-bottom: 94px;}

.list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0px;}

.list:last-child {
    margin-right: 0px;}


.list__icon::before{
    display: block;
    content:"";
    height: 120px;
    width: 270px;
    outline: none;
    margin-bottom: 30px;
 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.list__icon > .list__title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0px;
    margin-bottom: 10px;
}

.list__icon > .list__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 94px;
    width: 270px;
    margin-right: 30px;
}

.list__icon-antena::before {
    background-image: url(../image/Group-1.png);
}

.list__icon-clock::before {
    background-image: url(../image/Group-2.png);
}

.list__icon-computer::before {
    background-image: url(../image/Group-3.png);
}

.list__icon-cosmo::before {
    background-image: url(../image/Group-4.png);
}

.sections-title {
    color: var(--title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

    margin-top: 0;
    margin-bottom: 50px;
}

.product {
    position: relative;
}

.product__card { 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    align-items: center;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.product__photo {
    margin-right:30px;
    position: relative;
}

.product__photo:last-child{
    margin-right: 0;}

.product__text {
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding: 27px ;
    width: 100%;
    height: 70px;
    
    left: 0px;
    margin: 0;
    bottom: 0px;
    color: var(--primary-accent-color);

    background: var(--background-product-card);
}


/* third-sections */

.sections__three{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA var();
}
.sections__title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;}

.profession {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    gap: 30px;
  
}  
.profession__link{
    background-color: var(--primary-accent-color);
    box-shadow:var(--card-shadow);
    padding: 0;
    margin-bottom: 0;

} 

.profession__photo {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
}

.profession__title {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--title-color);
}

.profession__text {
    text-align: center;

    font-weight: 400;
    font-size: 16px;

    line-height: 1.18;
    margin-top: 0;
    margin-bottom: 16px;
}


.social-page{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.social-page__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    font-size: 0;
    margin-bottom: 30px;
    fill: var(--gray-icon-color); 
    transition:var(--speed-transition);
 }

.social-page__icon:hover,
.social-page__icon:focus {
    fill: var(--primary-accent-color);
    background-color: var(--accent-color);
}


/* Footer */


.clients {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.clients__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;

    font-size: 0;
    border: 1px solid var(--primary-text-color);
    border-radius: 4px;
    padding: 16px 32px;
    fill: var(--gray-icon-color);
    transition: var(--speed-transition);

}

.clients__link:hover svg,
.clients__link:focus svg {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}




/* Navigations */
footer {
    background-color: var(--background-second-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
footer .container {
    display: flex;
    justify-content: space-between;

}
.address{
    margin-right: 70px;
}
.address__page{
    display: contents;
    font-style: normal; 
}

.address__logo {
    color: var(--primary-accent-color);
    font-family: Raleway, sans-serif;

    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
}

.address__gps {
    color: var(--primary-accent-color);
    font-size: 14px;
    line-height: 1.7px;
    text-decoration: none;
}

.address__link {
    color:var(--footer-adress-color) ;

    font-size: 14px;
    line-height: 1.7px;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 9px;
}
.address__link:hover,
.address__link:focus {
    color: var(--accent-color);
}

/* Icon connect */

.network{
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
padding: 0;
margin: 0;
}
.network__title {
    color: var(--primary-accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
}

.network {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.network__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    font-size: 0;
    background: var(--footer-network-bgr);
    fill: var(--primary-accent-color);
    transition: var(--speed-transition);
}

.network__link:hover,
.network__link:focus {
    fill: var(--primary-accent-color);
    background-color: var(--accent-color)
}
.network__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    font-size: 0;
    background:var(--footer-network-bgr);
    fill: var(--primary-accent-color);
    transition: var(--speed-transition);
    }
    
.network__link:hover,
.network__link:focus {
    fill: var(--primary-accent-color);
    background-color: var(--accent-color) }


/* Mailing list */
.mail {
    margin-left: 93px;
}
.mail__title {
    color: var(--primary-accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
}
.mail-list {
    display: flex;
    transition: var(--speed-transition);
    
}
.mail-list input {
    color: var(--accent-text-color);
}

.mail-list input::placeholder {
    color: var(--accent-text-color);
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;}

.mail-list__id {
    width: 358px;
    height: 50px;
    padding: 0;

    background-color: var(--text-color);
    border: 1px solid var(--footer-mail-list-bgr);
    filter: var(--drop-shadow);
    border-radius: 4px;}

.signature {
    position: relative;}


.signature__button {
    display: flex;
    align-items: center;
    text-align: center;

    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 1.9;
    padding-left: 28px;
    margin-left: 12px;

    color: var(--primary-accent-color);
    background-color: var(--accent-color);

    border-radius: 4px;
    border: 1px solid transparent;}

.signature__button:hover,
.signature__button:focus {
    box-shadow: var(--box-shadow);
    transition: var(--speed-transition);}

.signature__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 13px;
    right: 28px;
    bottom: 13px;
    fill: var(--primary-accent-color);

}


/*Modal window*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:var(--modal-background);
    opacity: 1;
    transition: opacity var(--speed-transition) ;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}


/* Modal content */

.modal__close {
    position: absolute;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    border-radius: 50%;
    
    background:var(--primary-accent-color);
    border: 1px solid var(--modal-close-border);
    
}
.modal__close:hover,
.modal__close:focus {
    fill: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);}


.modal__title { 
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0;
    padding-bottom: 12px;
    color: var(--title-color);
}

.modal__form {   
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}
.modal__form label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color:var(--modal-color);
}
.modal__form input {
    margin: 0;
    padding: 0;
    border: 1px solid var(--modal-border-color);
    border-radius: 4px;
    height: 40px;
    padding-left: 42px;
    
}

.modal__icon {
    position: absolute;
    display: block;
    top:50%;
    left: 12px;
}


textarea {
    resize: none;
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid var(--modal-border-color);
    border-radius: 4px;
    
}
.modal__form textarea::placeholder {
    font-size: 12px;
    line-height: 1.7;
    color:var(--modal-color);
}

input:focus,
textarea:focus{
    outline: 1px solid var(--accent-color);
    transition: var(--speed-transition);
}

input:focus+svg{
    fill: var(--accent-color);
}



/* Modal Ð¡heckbox */

.checkbox {
  margin-top: 20px;

  text-align: center;
  align-items: center;
}

.checkbox__label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    
    margin: 0;
    padding: 0;
    
    border-radius: 2px;
}

.checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px; 
    overflow: hidden;
    position: absolute;
    clip: rect(0,0,0,0);
    margin: 0 auto;
    
}
.checkbox__input:checked + .checkbox__span svg {
    background-color: var(--accent-color);
    border-radius: 2px;
 
    border: none;

}
  .checkbox__input:focus+.checkbox__span  {
   outline: 1px solid var(--accent-color);
}  


.checkbox__span { 
    display: flex;
    justify-content: center;
    align-items: center;
    fill:var(--primary-accent-color);
}

.checkbox__icon{
    padding-left: 3px;
    padding-bottom: 3px;
    padding-top: 4px;
    padding-right: 2px;
    border-radius: 2px;
    border: 2px solid var(--title-color);
}

.checkbox__text {
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    font-weight: 400;
 }


.checkbox__text a {
    text-decoration: underline;
}


.checkbox__button {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 0 auto;

    background-color: var(--accent-color);
    color: var(--primary-accent-color);
    border-radius: 4px;
}

.checkbox__button:hover,
.checkbox__button:focus {
    box-shadow: var(--box-shadow);
    transition: var(--speed-transition);
}


/* Portfolio Page */

.button__portfolio {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-left: 0;
    padding-top: 94px;
    margin-bottom: 50px;
    gap: 8px;
}

.button__portfolio:last-child {
    margin-right: 0;
}

.button__type {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 6px 22px;
    border-radius: 4px;
    transition: var(--speed-transition);

    background-color:var(--primary-accent-color);
    color: var(--title-color);}


.button__type:hover,
.button__type:focus {
    background-color: var(--accent-color);
    color: var(--primary-accent-color);
    box-shadow: var(--box-shadow)}

.gallery__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 0;
    text-decoration: none;
    color: var(--title-color)}

.gallery__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    margin-top: 4px;
    margin-bottom: 0;
    color: var(--primary-text-color);
    text-decoration: none;}

.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    padding-bottom: 94px;
    padding-left: 0;
    margin: 0;

    margin-left: calc(-1*var(--card-sat-gap));
    margin-top: calc(-1*var(--card-sat-gap));}

.gallery>.gallery__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: var(--card-sat-gap);
    margin-top: var(--card-sat-gap);
}

/* Card */

.gallery__link:hover .gallery__card--content,
.gallery__link:focus .gallery__card--content{
    box-shadow:var(--portfolio-box-shadow);
}

.gallery__link:hover .gallery__hover,
.gallery__link:focus .gallery__hover{
    opacity: 1;
    transform: translate(0);
}

.gallery__card {
    position: relative;
    overflow: hidden;
    transition: var(--speed-transition);
}

.gallery__card--content {
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.gallery__hover {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 24px;
    opacity: 0;
    transform: translateY(100%);
    transition: var(--speed-transition);
    background: rgba(33, 150, 243, 0.9);
}

.gallery__book {
    font-size: 18px;
    line-height: 1.5;
    color: var(--primary-accent-color);
    font-weight: 400;
}

