.sections-hero {
    max-width: 1600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../../image/BG/hero-desk-1x.jpg);
    padding: 118px 0;
    


@media screen and (max-width:767px) {
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../../image/BG/hero-mobile-1x.jpg);
    padding: 118px 0px;

    @include retina {
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../../image/BG/hero-mobile-2x.jpg);
    }}

@include tablet {
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../../image/BG/hero-tablet-1x.jpg);
    padding: 118px 0px;

    @include retina {
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../../image/BG/hero-tablet-2x.jpg);
}}

@include desk {
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../../image/BG/hero-desk-1x.jpg);
    padding: 200px 0;
    

@include retina {
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../../image/BG/hero-desk-2x.jpg);
}
}}



.sections-hero__title {
margin: auto;
    color: $primary-accent-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
@media screen and (min-width:1200px) {
    font-size: 44px;
    line-height: 1.36;
margin-left: auto;
    margin-right: auto;} 


}

.sections-hero__button {
    margin-top: 30px;
    align-items: center;
    border-radius: 4px;
    padding: 10px 24px;
 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color: $accent-color;
    color: $primary-accent-color;
    transition: $speed-transition;
    @media screen and (min-width:1200px) {
    padding: 10px 32px;}
    &:hover,
    &:focus {
    box-shadow: $box-shadow;
    }
}
